{
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": false,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx", "*.astro"],
      "options": {
        "tabWidth": 2,
        "printWidth": 100,
        "endOfLine": "auto"
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "astroAllowShorthand": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true
}
